*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: serif;
}
body{
    background-color: rgb(4, 4, 35);
    background-image: url(background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
.contener{
  height: fit-content;
}
nav{
    display: flex;
    margin-top: 3%;
    align-items: center;
}

nav .line {
  flex: 1; /* يخليه يتمدد */
  height: 1px;
  margin-right: 10px;
  background-color: rgba(174, 174, 174, 0.722);
  margin-left: 1%;  /* مسافة صغيرة قبل ul */
}
nav .line {
  flex: 1;
  height: 2px;
  margin-left: 1%;
  background-color: rgba(201, 201, 201, 0.673); /* لون ابتدائي */
  animation: lineColor 6s infinite alternate;
  border-radius: 2px;
}

@keyframes lineColor {
  50% {
    background-color: rgb(7, 27, 107);       /* Cyan */
  }
  100% {
    background-color: #ffffff;       /* White */
  }
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 4%;
    padding: 2% 2%;
    gap: 80px;
    width: fit-content;
    background:  rgba(255, 255, 255, 0.12); /* شفافية */
    backdrop-filter: blur(12px);           /* البلور */
    -webkit-backdrop-filter: blur(12px);   /* Safari */
    border-radius: 12px;
}
nav a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(8, 14, 53);
    letter-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav .logo{
    transition: 0.3s;
    margin-left: 2%;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.3);
}
.logo:hover {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  font-size: larger;
  font-weight: 500;
}
.DESTNATION{
      border-bottom: 3px solid white;
      padding-bottom: 2px;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}
.content-menu{
    display: none;
    position: absolute;
    top: 60px; /* خليها تحت الهيدر */
    right: 0;
    width: 200px; /* عرض ثابت */
    background:  rgba(255, 255, 255, 0.12); /* شفافية */
    backdrop-filter: blur(12px);           /* البلور */
    -webkit-backdrop-filter: blur(12px);   /* Safari */
    border-radius: 8px;
    padding: 20px 10px;
     /* نخليها مخفية افتراضي */
    z-index: 1000;
}
.menu{
    display: none;
}
.content-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-menu li{
    margin-bottom: 40px; /* مسافة بين العناصر */
    padding: 10px 0; /* مسافة فوق وتحت */
    border-bottom: 1px solid rgba(255,255,255,0.3); /* الخط الفاصل */
}
.content-menu li:last-child {
    border-bottom: none; /* آخر عنصر مش لازم يكون عنده خط */
}

.content-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
#close{
    display: none;
    cursor: pointer;
}
#open{
  cursor: pointer;
}
.content-menu{
  margin-top: 2%;
}
.content{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30%;
  margin-top: 15%;
}
.content-right{
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
  margin-right: 5%;
}
.content-right h1{
  padding: 8% 0;
  font-size: 100px;
  font-weight: 400;
  font-family: serif;
  letter-spacing: 10px;
}
.content-left{
  margin-left: 10%;
}
.content-left img{
  max-width: 250%;
}
.content ul{
  display: flex;
  list-style: none;
  gap: 10%;
  width: 100%;
  padding-bottom: 10px;
}
.content ul li{
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  border-bottom: 3px transparent solid ;
  cursor: pointer;
  transition: 0.3s;
}
#MOON{
  border-bottom: solid white 3px;
}
.content ul li:hover{
  transform: scale(1.1);
}
.content-right p{
  padding-bottom: 10%;
  line-height: 35px;
  letter-spacing: 3px;
  word-spacing: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details{
  display: flex;
  gap: 20%;
  width: 100%;
  padding: 5% 0;
  border-top: #fff 2px solid;
}
@media (max-width:837px) {
    .contener{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #img{
      transform: translateX(-30px);

    }
    nav ul{
        display: none;
    }
    .menu{
        display: block;
        margin-right: 2%;
        width: 5%;
    }
    .content-left p{
        width: 100%;
        margin-top: 4%;
        text-align: center;
    }
    *{
      margin: 0;
      padding: 0;
    }
    .content-right ul{
      position: relative;
      left: -20%;
    }
    .content{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 20%;
    }
    .content-right{
      margin-top: 15%;
      text-align: center;
    }
    .content-right ul{
      margin-left: 22%;
    }
    .content-right li{
      margin: auto;
    }
    .content-right p{
      margin-left: 5%;
    }
    .content-right .details{
      margin-left: 3%;
      justify-content: space-around;
      padding-bottom: 10%;
    }
    h1{
      position: relative;
      left: 20px;
    }
    body{
        background: url(background-destination-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; 
    }
}
@media (min-width: 838px) and (max-width: 1400px) {
    nav ul{
        gap: 40px;
    }
    h1{
      position: relative;
      left: 10px;
    }
    body{
        background: url(background-destination-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; 
    }
    .content-left{
      width: 100%;
      margin-left: 0%;
    }
    #img{
      
    }
    .content{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 20%;
    }
    .content-right{
      margin-top: 10%;
    }
    .content-right li{
      margin: auto;
    }
    .content-right p{
      margin-left: 3%;
    }
    .details{
      margin-left: 2%;
      width: 85%;
      margin: auto;
      justify-content: space-around;
    }
}